@(message: String)

@layouts.govuk_template{
    <head>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/leaflet.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
    </head>

    <main id="content" role="main">
        <div class="phase-banner">
            <p>
                <strong class="phase-tag">BETA</strong>
                <span>This is a new service – your <a href="#">feedback</a> will help us to improve it.</span>
            </p>
        </div>

        <h4 class="heading-small">Layer controls</h4>
        <div>
            <form>
                <fieldset class="inline">

                    <label class="block-label" for="population">
                        <input id="population" name="layer-toggles" type="checkbox" value="population">
                        Population
                    </label>
                    <label class="block-label" for="religion">
                        <input id="religion" name="layer-toggles" type="checkbox" value="religion">
                        Religion
                    </label>
                    <label class="block-label" for="economy">
                        <input id="economy" name="layer-toggles" type="checkbox" value="economy">
                        Economy
                    </label>
                    <label class="block-label" for="housing">
                        <input id="housing" name="layer-toggles" type="checkbox" value="housing">
                        Housing
                    </label>
                    <div id="layer-controls"></div>
                </fieldset>
            </form>

        </div>

        <div id="mapid"> </div>

        <script src="@routes.Assets.at("javascripts/leaflet.js")"></script>
        <script src="@routes.Assets.at("javascripts/map.js")" type="text/javascript"></script>
    </main>
}

