@import "../vendor/stylesheets/leaflet.css";

@import "../vendor/govuk_frontend_toolkit/design-patterns/alpha-beta";
@import "../vendor/govuk_frontend_toolkit/design-patterns/breadcrumbs";
@import "../vendor/govuk_frontend_toolkit/design-patterns/buttons";
@import "../vendor/govuk_frontend_toolkit/design-patterns/media-player";

@import '../vendor/govuk_elements/reset';

@import '../vendor/govuk_elements/breadcrumbs';
@import '../vendor/govuk_elements/buttons';
@import '../vendor/govuk_elements/components';
@import '../vendor/govuk_elements/details';
@import '../vendor/govuk_elements/elements-typography';
@import '../vendor/govuk_elements/forms';
@import '../vendor/govuk_elements/govuk-template-base';
@import '../vendor/govuk_elements/helpers';
@import '../vendor/govuk_elements/icons';
@import '../vendor/govuk_elements/layout';
@import '../vendor/govuk_elements/lists';
@import '../vendor/govuk_elements/panels';
@import '../vendor/govuk_elements/phase-banner';
@import '../vendor/govuk_elements/tables';
@import '../vendor/govuk_elements/shame';

.phase-banner  {
  @include phase-banner(beta);
  margin: auto;
}

#mapid {
  height: 500px;
  padding: 10px;
  margin: auto;
}

#control {
  width:100%;
  margin: auto;
}

#location-lookup {
  width: 50%;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}

#location-search {
  width:70%;
  height:40px;
  font-size: 18px;
  padding-bottom : 5px;
  margin : auto
}

#search-button {
  padding: 5px;
  width:20%;
  height:40px;
  font-size: 18px;
}

#search-button {
  height: 38px;
  width : 20%;
  font-family: "nta",Arial,sans-serif;
  font-size: 2vh;
  line-height: 26px;
  font-weight: 400;
  text-transform: none;
  text-align:center;
  -webkit-font-smoothing: antialiased;
  margin: auto;
}

#error {
  padding: 20px;
}
